<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-link">Home page</button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>12/09/2019</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae excepturi facere iusto numquam. Iure, odio totam? Debitis, distinctio explicabo facere nostrum provident quisquam temporibus ullam voluptatem? Adipisci autem consequuntur distinctio dolorum enim est eum labore laudantium minus, molestiae necessitatibus nihil nobis nulla odit porro possimus quibusdam tempore veritatis vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae excepturi facere iusto numquam. Iure, odio totam? Debitis, distinctio explicabo facere nostrum provident quisquam temporibus ullam voluptatem? Adipisci autem consequuntur distinctio dolorum enim est eum labore laudantium minus, molestiae necessitatibus nihil nobis nulla odit porro possimus quibusdam tempore veritatis vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae excepturi facere iusto numquam. Iure, odio totam? Debitis, distinctio explicabo facere nostrum provident quisquam temporibus ullam voluptatem? Adipisci autem consequuntur distinctio dolorum enim est eum labore laudantium minus, molestiae necessitatibus nihil nobis nulla odit porro possimus quibusdam tempore veritatis vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae excepturi facere iusto numquam. Iure, odio totam? Debitis, distinctio explicabo facere nostrum provident quisquam temporibus ullam voluptatem? Adipisci autem consequuntur distinctio dolorum enim est eum labore laudantium minus, molestiae necessitatibus nihil nobis nulla odit porro possimus quibusdam tempore veritatis vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae excepturi facere iusto numquam. Iure, odio totam? Debitis, distinctio explicabo facere nostrum provident quisquam temporibus ullam voluptatem? Adipisci autem consequuntur distinctio dolorum enim est eum labore laudantium minus, molestiae necessitatibus nihil nobis nulla odit porro possimus quibusdam tempore veritatis vero.</p>
    </div>
</div>
